@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    color:#fff;
}

select{
    font-size: 16px;
    border: none;
    outline: none;
    color: rgba(163, 163, 163, 0.8);
    padding: 10px 16px;
    background-color: inherit;
}

header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(43,16,85,0.6);
    z-index:3;
}

h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color:#fff;
}

.btn{
    text-decoration: none;
    padding:8px 20px;
    border-radius: 40px;
    background: #fff;
    color:#2b1055;
    font-size: 1em;
    z-index:1;
    cursor: pointer;
    transform: translateY(20px);
}

#search{
    position: absolute;
    top:60%;
    left: 45%;
}

#query-submit{
    position: absolute;
    top:70%;
    left:30%;
}

header .logo{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding:6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover
{
    background: #fff;
    color: #2b1055;
}

section{
    position: relative;
    width:100%;
    height:100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    background: linear-gradient(#2b1055,#7597de);
}

section img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    object-fit: cover;
    pointer-events: none;
}

.mid-img{
    position: relative;
    top:30%;
}

section::before{
    content: '';
    position: absolute;
    bottom:0;
    width: 100%;
    height:100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 10;
}
.sec{
    position: relative;
    padding:100px;
    background: #1c0522;
}

.type{
    position: absolute;
    top:65%;
    left:45%;
}
/* styling individual sections */

/* genres section */

#Genres{
    text-align: center;
    color:#fff
}

.genre-img{
    position: absolute;
    top:30px;
    left:20px;
    width:20%;
}

#song-list{
    padding:30px;
    margin-top: 30px;
    line-height: 3;
}

#song-list a{
    text-decoration: none;
    color: white;
}

/* new release section */

#new-release{
    height:50vh;
}

.release-img{
    position: absolute;
    top:30px;
    left: 80%;
    width:20%;
}
#new-release h3{
    display: inline-block;
    position: relative;
    left:40%;
    top:30%;
}